@model IEnumerable<Hospisim.Domain.Entities.Prontuario>

@{
    ViewData["Title"] = "Prontuários";
}

<h1>Prontuários</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Novo Prontuário</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Numero)</th>
            <th>@Html.DisplayNameFor(model => model.Paciente)</th>
            <th>@Html.DisplayNameFor(model => model.DataAbertura)</th>
            <th>@Html.DisplayNameFor(model => model.ObservacoesGerais)</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Numero)</td>
                <td>@Html.DisplayFor(modelItem => item.Paciente.NomeCompleto)</td>
                <td>@Html.DisplayFor(modelItem => item.DataAbertura)</td>
                <td>@Html.DisplayFor(modelItem => item.ObservacoesGerais)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>